{% extends 'index_base.html.twig' %}

{% block body %}

    
    <div class="container mt-4">

        <div class="row">
            <div class="col"></div>  
            <div class="col"></div>          
            <div class="col">
                {{ form_start(register_form) }}
            {{ form_widget(register_form) }}
                {{ form_end(register_form) }}
            </div>
            <div class="col"></div>
        </div>
       
    </div>



{% endblock %}
