{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    <div class="container">
        
        <div class="row">

            <div class="col">

                {{ form_widget(form) }}

            </div>

        </div>

    </div>
{% endblock %}
